<!DOCTYPE html>
<html>

	<head>
		<title>
			<%=title %>
		</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>

	<body>
		
		
		<script type="text/template" id="myTemp">
			<h3><%= title %></h3>
		</script>

		<script src="/js/lib/jquery.js"></script>
		<script src="/js/lib/underscore.js"></script>
		<script src="/js/lib/backbone.js"></script>
		
		<script src="/js/View/7_render.js"></script>

	</body>

</html>