<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

		<script type="text/html" id="my-view-template">
			<div class="row">
				<label>First Name:</label>
				<span><%= firstName %></span>
			</div>
			<div class="row">
				<label>Last Name:</label>
				<span><%= lastName %></span>
			</div>
			<div class="row">
				<label>Email:</label>
				<span><%= email %></span>
			</div>
		</script>

		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/underscore.js"></script>
		<script src="js/lib/backbone.js"></script>
		<script src="js/lib/backbone.marionette.js"></script>

		<script src="js/demo1.js"></script>

	</body>
</html>
